body {
    font-family: "Times New Roman", serif;
}
.text {
    color: rgb(160, 50, 215);
    font-weight: bold;
    font-size: 30px;
    background-color: antiquewhite;
}

div {
    color: brown;
    font-size: 20px;
}